<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="general/user_base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Add Contact</title>
</head>
<body>
<section>
    <!--<h1 th:text="${title}">Add Contact Page</h1>-->
    <div class="card">
        <div class="card-body">

            <!--<div th:if="${session.message}" th:classappend="${message.type}" class="alert" role="alert">
                <p th:text="${session.message.content}"></p>
            </div>-->

            <h1 class="text-center">Add Contact</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <form method="post" action="#" enctype="multipart/form-data"
                              th:action="@{/user/process-contact}"
                              th:object="${contact}">

                            <!--username field-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <!--<i class="fa fa-plus"></i>-->
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                                <input type="text" name="name" id="userName" placeholder="Enter Name here"
                                       class="form-control" th:value="${contact.name}"
                                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" required>
                                <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}"
                                     th:text="${e}"></div>
                            </div>

                            <!--nickname field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                                <input type="text" name="nickName" id="nickName" th:value="${contact.nickName}"
                                       placeholder="Enter Nick Name here"
                                       class="form-control">
                            </div>

                            <!--work field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                </div>
                                <input type="text" name="work" id="work" placeholder="Enter Work here"
                                       th:value="${contact.work}" class="form-control">
                            </div>

                            <!--phone field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <input type="number" name="phone" id="phone" placeholder="Enter Phone Number here"
                                       required class="form-control" th:value="${contact.phone}"
                                       th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}">
                                <div class="invalid-feedback" th:each="e:${#fields.errors('phone')}"
                                     th:text="${e}"></div>
                            </div>

                            <!--email field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <input type="email" name="email" id="email" placeholder="Enter Email here"
                                       th:value="${contact.email}" class="form-control"
                                       th:classappend="${#fields.hasErrors('email')?'is-invalid':''}">
                                <div class="invalid-feedback" th:each="e:${#fields.errors('email')}"
                                     th:text="${e}"></div>
                            </div>

                            <!-- Birth Date field -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <input type="date" name="birthDate" id="birthDate" placeholder="Select Date"
                                       th:value="${contact.birthDate}" class="form-control"
                                       th:classappend="${#fields.hasErrors('birthDate')?'is-invalid':''}" required>
                                <div class="invalid-feedback" th:each="e:${#fields.errors('birthDate')}"
                                     th:text="${e}"></div>
                            </div>

                            <!--image field-->
                           <!-- <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-image"></i>
                                    </div>
                                </div>
                                <input type="file" name="image" id="image" placeholder="Select Image"
                                       class="form-control">
                            </div>
-->
                            <!--description field-->
                            <!-- <div class="input-group">
                                 <div class="input-group-prepend">
                                     <div class="input-group-text">
                                         <i class="fa fa-plus"></i>
                                     </div>
                                 </div>
                                 <input type="text" name="description" id="description"
                                        placeholder="Enter Description here"
                                        class="form-control">
                             </div>-->
                            <!--description-->
                            <div class="form-group mt-3">
                                <textarea name="description" id="description" class="form-control" cols="30"
                                          th:text="${contact.description}" rows="5"></textarea>
                            </div>

                            <div class="container text-center">
                                <button class="btn btn-outline-primary">Save Contact</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $(".item").removeClass("active");
            $("#add-link").addClass("active");
         });
    </script>
</section>
</body>
</html>