<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="general/user_base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<section>
    <div class="card">
        <div class="card-body">
            <div th:if="${message}" th:classappend="${message.type}" class="alert" role="alert">
            </div>
            <h1 class="text-center">Update Contact</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <form method="post" action="#" enctype="multipart/form-data"
                              th:action="@{/user/process_update_contact_detail}" th:object="${contactData}">
                            <!--hidden id field-->
                            <input type="hidden" th:value="${contactData.id}" name="id">
                            <!--username field-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                                <input type="text" name="name" id="userName" placeholder="Enter Name here"
                                       class="form-control" th:value="${contactData.name}"
                                th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" required >
                                <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}"
                                     th:text="${e}"></div>
                            </div>

                            <!--nickname field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                                <input type="text" name="nickName" id="nickName" th:value="${contactData.nickName}"
                                       placeholder="Enter Nick Name here"
                                       class="form-control">
                            </div>

                            <!--work field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                </div>
                                <input type="text" name="work" id="work" placeholder="Enter Work here"
                                       th:value="${contactData.work}" class="form-control">
                            </div>

                            <!--phone field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <input type="number" name="phone" id="phone" placeholder="Enter Phone Number here"
                                        class="form-control" th:value="${contactData.phone}"
                                th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}" required>
                                <div class="invalid-feedback" th:each="e:${#fields.errors('phone')}"
                                     th:text="${e}"></div>
                            </div>

                            <!--email field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <input type="email" name="email" id="email" placeholder="Enter Email here"
                                       th:value="${contactData.email}" class="form-control"
                                th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" required>
                                <div class="invalid-feedback" th:each="e:${#fields.errors('email')}"
                                     th:text="${e}"></div>
                            </div>
                            <!--description-->
                            <div class="form-group mt-3">
                                <textarea name="description" id="description" class="form-control" cols="30"
                                          th:text="${contactData.description}" rows="5"></textarea>
                            </div>

                            <div class="container text-center">
                                <button type="submit" class="btn btn-outline-primary">Save Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>