<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="general/user_base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<section>
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c:${listOfContacts}">
                    <th scope="row" th:text="'SCM_USER'+${c.id}">1</th>
                    <td th:text="${c.name}">Mark</td>
                    <td th:text="${c.phone}">7575</td>
                    <td th:text="${c.email}">@@@@</td>
                    <td>
                        <button class="btn btn-danger btn-sm">Delete</button>
                        <button class="btn btn-primary btn-sm">Update</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--pagination-->

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a class="page-link" href="#" th:href="@{'/user/view_contact/'+ ${currentPage-1}}">Previous</a>
                    </li>

                    <li th:classappend="${currentPage == i-1 ? 'active' : ''}"
                        th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item">
                        <a class="page-link" href="#" th:href="@{'/user/view_contact/' + ${i-1}}">
                            <!--<span th:text="${i}"></span>--> <!-- as per the video-->
                            <span th:text="${i-1}"></span>
                        </a></li>

                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a class="page-link" href="#" th:href="@{'/user/view_contact/'+ ${currentPage+1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</section>
</body>
</html>