<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">FPP</title>
</head>
<body>
<section>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card mt-5 mb-5">

                    <div th:if="${session.message}" class="container">
                        <div class="alert alert-danger text-center" role="alert">
                            <span th:text="${session.message}"></span>
                        </div>
                    </div>

                    <h1 class="text-center">Registered Email Address</h1>
                    <form novalidate method="post" th:action="@{/send_otp}">

                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Enter email here" required>
                        </div>

                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary text-white">Send OTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>